@media screen and (min-width:800px){
    body{
        background-color: #d2e2d2;
        background-image: url(back.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #title{
        color: white;
        font-family:'Times New Roman', Times, serif;
        padding-left: 2%;
        padding-top: 1%;
       
    }
    a{
        color: white;
        text-decoration: none;
        padding-left: 70px;
        text-align: center;
        width: fit-content;
    }
    a:hover{
        

        color: rgba(0, 0, 0, 0.315);
    }
    @keyframes intro2 {
        0%{
            transform: scale(1.1);
            
        }
    }
   
    #links{
        
        text-align: center;
        float: right;
        margin-right: 5%;
        margin-top: -3%;
    }
    @keyframes intro {
        0%{height: 0px; margin-top: 30px;}
    }
    article{
        animation-name: intro2;
        overflow: hidden;
        animation-duration: 2s;
        width: 600px;
        background-color: #d2e2d25e;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7%;
        border-radius: 8px;
        border-top-right-radius: 30%;
        border-end-start-radius: 30%;
        height: 400px;
        text-align: center;
    }
    h1{
        color: black;
        font-family: Impact, ;
        padding-top: 20%;

    }
    button{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        border-radius: 8px;
        border: none;
        background-color: #ca2abdc9;
        display: block;
        cursor: pointer;
        color: white;
        
    }
    button:hover{
        background-color:#ca2abd ;
    }
}
